body{
    background-color:rgb(21, 76, 255);
}

h1{
    font-family:'Courier New', Courier, monospace;
    color:white;
}

.video{
    float:right;
    width:70%;
}

.house{
    width:100%;
    bottom: -20;
    position: absolute;

}

.flower{
    width:70%;
    bottom: 0;
    opacity:90%;
    position: absolute;
}

.distortion{
    width:30%;
    bottom: 0;
    right:40%;
    opacity:90%;
    position: absolute;
}

.bed{
    width:60%;
    bottom: 0;
    right:2%;
    opacity:90%;
    position: absolute;
}