@font-face {
    font-family: 'Manrope_Bold';
    src: url('Manrope-Bold.woff2') format('woff2'),
        url('Manrope-Bold.woff') format('woff');
    font-weight: 300;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope_Normal';
    src: url('Manrope-Regular.woff2') format('woff2'),
        url('Manrope-Regular.woff2') format('woff');
    font-weight: 300;
    font-style:normal;
    font-display: swap;
}

@font-face {
    font-family: 'EBGaramond_Italic';
    src: url('EBGaramond-Italic-VariableFont_wght.woff2') format('woff2'),
        url('EBGaramond-Italic-VariableFont_wght.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EBGaramond_Normal';
    src: url('EBGaramond-VariableFont_wght.woff2') format('woff2'),
        url('EBGaramond-VariableFont_wght.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

