* {
  box-sizing: border-box;
}

body {
    font-family:'Self Modern Trial', 'Times New Roman', 'Serif';
    margin: 3%;
}

/* Column container */
.row {  
    display: flex;
    flex-wrap: noxwwrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 20%;
    font-size:30px;
  }
  
  /* Main column */
  .main {
    flex: 80%;
  }


.hl {
    position: -webkit-sticky;
    position: sticky;
    border-left: 360px solid rgb(0, 0, 0);
    height: 2px;
    left: 5%;
    top: 60px;
  }

.vl {
    border-left: 2px solid rgb(0, 0, 0);
    height: 1000px;
    left:29%;
    top: 500px;
}

.aboutbar{
    margin-left: 2%;
    background-color: white;
    position: sticky;
    top: 80px;
}

.reviewsbar{
    margin-left: 2%;
    background-color: white;
    position: sticky;
}

.aboutbar a{
    display:block;
    text-decoration: none;
    color:black;
}

.aboutbar a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(212, 127, 49);
  }

.reviewsbar a{
    display:block;
    text-decoration: none;
    color:black;
}

.reviewsbar a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(19, 121, 73);
  }

.reviews{
    color:black;
    background-color: white;
    position: fixed;
    top: 120px;
}

.right{
    position:relative;
    margin: 0px;
}


.title1{
    margin-top:60px;
    font-style: italic;
    text-align:right;
    font-size:100px;
}

.text{
    margin-top:-80%;
    margin-left:5%;
    text-align:left;
    font-size:30px;
}

.video{
    width:768px; 
    height:432px; 
    margin-left: 5%;
    margin-top:100px;
}