
* {
    box-sizing: border-box;
    padding: 0%;
}

body {
    font-family:'EBGaramond_Normal', 'Times New Roman', 'Times', 'Serif';
    font-weight: normal;
    margin: 3%;
    letter-spacing: 0.04em;
    line-height: 1.6;
    color: #000000;
    background-color:rgb(255, 255, 255);
}

p {
    margin-bottom: 3.2em;
}

img {
    max-width: 450px;
    margin-top:30px;
}

a{
    text-decoration: none;
    color:black;
}


/* Column container */
.row {  
    display: flex;
    flex-wrap: noxwwrap;
  }

  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 20%;
    font-size:25px;
  }
  
  /* Main column */
  .main {
    flex: 80%;
    display: flex;
    flex-direction: column;
  }


  .about {
    color:#D9D9D9;
}

.reviews {
    color:#D9D9D9;
}

.Leila {
    color:#000000;
}

.about:hover {
    background-color: #FFF9EF;
    color: rgb(0, 0, 0);
}


.reviews:hover {
    background-color: #F6FFF3;
    color: rgb(0, 0, 0);
}

.sidebar a {
    padding: 0px 0px 5px 20px;
    text-decoration: none;
    font-family: Manrope_Bold;
    font-size: 24px;
    display: block;
    border-left: 2px solid rgb(0, 0, 0);
}



#right{
    border-right: 600px solid rgb(0, 0, 0);
    height: 2px;
    width:100%;
    margin-left:5%;
    margin-top: 0%;
}

#left{
    width:65%;
    font-size:25px;
    padding:15px;
    margin-left:5%;
    margin-top: 55%;
}


@media only screen and (max-width: 900px) {

    body {
        font-size: 22px;
    }

    header{
        text-align: right;
        display: block;
        background-color: white;
        position: sticky;
        scroll-behavior: smooth;
        padding-top: 35px;
        top: 0px;
    }

    section {
        margin: 20px;
    }

    .title1{
        display:none;
    }

    .row {
        flex-direction: column-reverse;
    }

    .side{
        padding: 5%;
    }

    .hl{
        margin-bottom: 10px;
    }

    #left{
        margin-top:5px;
    }

    #right{
        width: 70%;
        margin-top:55%;
    }

    img {
        max-width: 600px;
        width: 100% ;
    }
}

@media only screen and (max-width: 500px) {

    body {
        font-size: 22px;
    }

    a{
        margin-left: 5%;
        font-size: 18px;
        border-bottom: #000000 1px solid;
    }

    .aboutbar a{
        border-bottom:none;
    }

    .reviewsbar a{
        border-bottom:none;
    }

    section {
        margin: 10px;
    }

    header{
        text-align: right;
        display: block;
        background-color: white;
        position: sticky;
        scroll-behavior: smooth;
        padding-top: 25px;
        padding-bottom: 25px;
        top: 0px;
    }

    .row {
        flex-direction: column-reverse;
    }

    .hl{
        margin-bottom: 10px;
    }

    #right{
        margin-top: -360%;
    }

    #left {
        margin-top: 5%;
        width: 90%;
        font-size: 18px;
    }

    .title1 {
        display:none;
    }

    .vl{
        height: 1500px;
    }

    img {
        max-width: 600px;
        width: 100% ;
    }

    .video{
        height:fit-content;
    }
}