* {
    box-sizing: border-box;
    padding: 0%;
}

body {
    font-family: 'Cormorant Garamond', serif;
    margin: 3%;
    letter-spacing: 0.03em;
    line-height: 1.5;
    color: #000000;
    background-color: rgb(255, 255, 255);
}

header {
    display: none;
}


img {
    max-width: 450px;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: black;
}

i {
    font-style:regular;
}

/* Column container */
.wrapper {
	display: flex;
	justify-content: space-between;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    font-size: 25px;
    border-left: 2px solid rgb(0, 0, 0);
}

/* Main column */
.main {
    flex: 80%;
    display: flex;
    flex-direction: column;
}


.sidebar{
    position: -webkit-sticky;
    position: sticky;
    top:0;
}

.hl {
    position: -webkit-sticky;
    position: sticky;
    border-left: 360px solid #95CA82;
    height: 2px;
    left: 5%;
    top: 60px;
}

.about {
    color: #D9D9D9;
}

.reviews {
    color: #000000;
}

.Leila {
    color: #000000;
}


.sidebar a {
    padding: 0px 0px 0px 15px;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    display: block;
}


#left {
    min-width: 600px;
    max-width: 1000px;
    width: 75%;
    margin-top:10%;
    font-size: 27px;
    margin-left: 5%;
    padding-bottom: 10%;
}

@media only screen and (max-width: 900px) {

    body {
        margin: 20px;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        border-left: 2px solid rgb(0, 0, 0);
    }

    .side{
        width:50%;
        border-left: 0px;
        background-color: white;
        position: -webkit-sticky;
        position: sticky;
        top:3%;
    }

    .sidebar a{
        margin-left: 3%;
        padding:0px;
        text-decoration: none;
        font-family: 'Manrope', sans-serif;
        display: block;
        border-left: 0px;
        font-size: 25px;
    }

    section {
        margin: 10px;
    }

    .main{
        width: 70%;
        margin-left: 25%;
    
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .hl {
        margin-bottom: 10px;
    }

    #left {
        margin-top:30%;
        min-width: 600px;
        max-width: 1000px;
        width: 75%;
    }

    p{
        font-size: 25px;
    }

    img {
        max-width: 600px;
        width: 100%;
    }

    .video {
        margin-top: 15%;
        position: fixed;
        height: auto;
        max-width: 80%;
        
    }

}

@media only screen and (max-width: 500px) {

    body {
        margin: 15px;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        border-left: 1px solid black;
    }

    .side{
        width:100%;
        border-left: 0px;
        background-color: white;
        position: -webkit-sticky;
        position: sticky;
        top:0;
    }

    .sidebar a{
        margin-left: 3%;
        padding:0px;
        text-decoration: none;
        border-left: 0px;
        font-family: 'Manrope', sans-serif;
        display: block;
        font-size: 20px;
    }

    section {
        margin: 10px;
    }

    .main{
        width:100%;
        margin-left:0;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    p{
        font-size: 20px;
    }

    .hl {
        margin-bottom: 10px;
    }

    #right{
        margin-left:0;
    }

    #left {
        width: 90%;
        margin-top:30%;
        min-width: 0px;
        max-width: 500px;
        font-size: 20px;
    }

    p{
        font-size: 20px;
    }

    img {
        max-width: 600px;
        width: 100%;
    }

    .video {
        margin-top: 15%;
        position: fixed;
        height: auto;
        max-width: 80%;
        
    }
}