* {
    box-sizing: border-box;
    padding: 0%;
}

body {
    margin: 3%;
    letter-spacing: 0.03em;
    line-height: 1.5;
    color: #000000;
    background-color: rgb(255, 255, 255);
}

p {
    margin-bottom: 3.2em;
    font-style: italic;
    font-family: 'Cormorant Garamond', serif;
    font-size: 27px;
}

img {
    height: 40px;
}

h1 {
    font-size: 27px;
    font-style: italic;
    letter-spacing: 0.1em;

}

/* Column container */
.wrapper {
    display: flex;
    justify-content: space-between;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    width: 30%;
    font-size: 25px;
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* Main column */
.main {
    width: 60%
}

.about {
    color: #D9D9D9;
}

.about:hover {
    color: rgb(0, 0, 0);
  }

.reviews {
    color: #D9D9D9;
}

.reviews:hover {
    color: rgb(0, 0, 0);
  }

.Leila {
    color: #000000;
}


.sidebar a {
    padding: 0px 0px 0px 15px;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    display: block;
    border-left: 2px solid rgb(0, 0, 0);
}


#left {
    margin-top: 10%;
    min-width: 600px;
    max-width: 1000px;
    width: 75%;
    text-align: left;
    font-size: 30px;
}

.video {
    float: right;
    margin-left: 5%;
    max-width: 100%;
}


div {
    height: max-content;
}

@media only screen and (max-width: 900px) {

    body {
        margin: 20px;
    }

    .side{
        width:100%;
        position: -webkit-sticky;
        position: sticky;
        border-left: 1.5px solid black;
        top:0;
    }


    .sidebar a{
        margin-left: 3%;
        padding:0px;
        text-decoration: none;
        font-family: 'Manrope', sans-serif;
        display: block;
        border-left: 0px;
        font-size: 20px;
    }

    section {
        margin: 10px;
    }

    .main{
        width:100%;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .hl {
        margin-bottom: 10px;
    }

    #left {
        width: 90%;
        float:right;
        min-width: 0px;
        max-width: 500px;
    }

    p{
        font-size: 25px;
    }

    img {
        max-width: 600px;
        width: 100%;
    }

    .video {
        height: auto;
        max-width: 70%;
    }

}

@media only screen and (max-width: 500px) {

    body {
        margin: 15px;
    }

    .side{
        width:100%;
        position: -webkit-sticky;
        position: sticky;
        border-left: 1px solid black;
        top:0;
    }

    .sidebar a{
        margin-left: 3%;
        padding:0px;
        text-decoration: none;
        font-family: 'Manrope', sans-serif;
        display: block;
        border-left: 0px;
        font-size: 20px;
    }

    section {
        margin: 10px;
    }

    .main{
        width:100%;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hl {
        margin-bottom: 10px;
    }

    #left {
        width: 90%;
        margin-top:30%;
        text-align: right;
        min-width: 0px;
        max-width: 500px;
    }

    p{
        font-size: 20px;
    }

    img {
        max-width: 600px;
        width: 100%;
    }

    .video {
        margin-top: 15%;
        max-width: 100%;
        
    }
}