body
{
    margin:20px;
}


#gradient { 
    top:0;
    background: radial-gradient(circle at 50% 50%, rgb(0, 255, 0), transparent 50%, transparent 100%, transparent 100%);
    position:fixed;
    width:200vw;
    height:200vh;
    z-index:-1;
    transform:translate(-50%, -50%);
    animation: gradientAnimation 20s ease-out infinite;
}

@keyframes gradientAnimation {
    0%{
        transform: translate(-50%, -50%);}
    25%{
        transform: translate(0%, -50%);}
    50% {
        transform: translate(0%, 0%);}
    75% {
        transform: translate(-50%, 0%);}
    }

#gradient2 { 
    top:0;
    background: radial-gradient(circle at 50% 50%, rgb(136, 168, 255), transparent 50%, transparent 100%, transparent 100%);
    position:fixed;
    width:200vw;
    height:200vh;
    z-index:-1;
    transform:translate(-50%, -50%);
    animation: gradientAnimation 20s ease-out infinite;
    }
    
 @keyframes gradientAnimation2 {
    0%{
        transform: translate(-50%, -50%);}
    25%{
        transform: translate(0%, -50%);}
    50% {
        transform: translate(0%, 0%);}
    75% {
        transform: translate(-50%, 0%);}
        }

h1{
    height: 137px;
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 95px;
    text-align:center;
    font-family: Trirong;
    font-style: semibold;
}

h2{
    font-size: 40px;
    text-align:left;
    font-family: Trirong;
    font-style: semibold;
}

h3{
    font-size: 20px;
    text-align:left;
    font-family: Trirong;
    font-style: semibold;
}

#introduction {
    font-weight: 40;
    margin-left:55%;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    font-family: Trirong;
    font-style: light;

}

#intro2 {
    font-weight: 40;
    margin-top:35px;
    margin-left:55%;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    font-family: Trirong;
    font-style: light;

}



#portfolio-button {
    font-weight:30;
    text-align:right;
    margin-top:80px;
    font-size:40px;
    height: 15vh;
    font-family: Trirong;
    font-style: light;
}

#portfolio-button a {
    color:black;
    text-decoration: none;
}