body {
    margin: 0;
    background: rgb(12,22,51);
    background: linear-gradient(0deg, rgba(12,22,51,1) 0%, rgba(36,58,124,1) 10%, rgba(133,160,215,1) 20%, rgba(215,238,234,1) 30%, rgba(251,255,215,1) 40%, rgba(253,255,235,1) 50%, rgba(250,255,224,1) 60%, rgba(200,225,229,1) 70%, rgba(108,128,168,1) 80%, rgba(36,58,124,1) 90%, rgba(12,22,51,1) 100%);
    background-size: 100% 5000vh;
    background-repeat: repeat-y;
    min-height: 100%;
    font-family:Rajdhani;
    color:rgb(148, 172, 157);
  }

  .wrapper {
    padding-top: 30vh;
    width: 220px;
    margin: auto;
  }

  .info {
    position: fixed;
    top: 20px;
    left: 20px;
    -webkit-text-stroke: 1px rgb(148, 172, 157);
  }

  .stat{
    font-size:20px;
  }
  
  pre {
    margin: 0;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size:50px;
  }

  .textwow {
    color:rgb(120, 131, 124);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    cursor: pointer;
    position: absolute;
    margin:5px;
    font-size: 40px;
    font-weight: bold;

  }

  .left {
    left: 15px;
  }

  .right {
    right: 15px;
  }

  .info span {
    font-weight: bold;
  }

  .largewow {
    position: absolute;
    font-size: 140px;
    transform: translateX(-30%);
    z-index: -2;
    -webkit-text-stroke: 4px white;
  }

  .hidden {
    display: none;
  }

  /*
  .rainbow {
    color: hotpink;
    animation: rainbow 1500ms ease infinite;
  }

  .secretwow {
    display: inline-block;
    cursor: pointer;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC);
  }

  .secretwow.found {
    font-weight: bold;
  }

  .print {
    cursor: pointer;
  }

  .hatted {
    display: none;
  }

  .spinLeft {
    animation: spinLeft 700ms forwards infinite;
  }

  .spinRight {
    animation: spinRight 700ms forwards infinite;
  }


  .how {
    width: 33px;
    height: 33px;
    display: inline-flex;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    background-size: 20px 20px;
    background-position: center;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
  }

  @media (max-width: 700px) {
    .sitter {
      display: none;
    }
  }

  @keyframes rainbow {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }

  @keyframes spinLeft {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes spinRight {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
*/

  @media print {
    .info {
      position: absolute;
    }
  }