body
{
    font-family: courier;
    background-color:rgb(236, 236, 236);
}

.home{
    font-size:2em;
    text-decoration:none;
    color:black;
}

#firstline{
    margin-top:20%;
    text-align: center;
    cursor: pointer;
}

#body{
    display:none;
    float: right;
    position: absolute;
    left: 5em;
    top: 34em;
    cursor: pointer;
}

#body2{
    display:none;
    float: right;
    position: absolute;
    left: 28em;
    top: 30em;
    cursor: pointer;
}
#body3{
    display:none;
    float: right;
    position: absolute;
    left: 50em;
    top: 30em;
    cursor: pointer;
}

#body4{
    display:none;
    float: right;
    position: absolute;
    left: 60em;
    top: 7em;
    cursor: pointer;
}

#body5{
    display:none;
    float: right;
    position: absolute;
    left: 0em;
    top: 5em;
    cursor: pointer;
}

#body6{
    display:none;
    float: right;
    position: absolute;
    left: 25em;
    top: 1em;
    cursor: pointer;
}
