body
{
    font-family: courier;
    font-size:15%;
    background-color:rgb(0, 0, 0);
}

.home{

}

.firstline
{
    margin-top:30%;
    position:relative;
    z-index:1;
}


.firstrotate
{
    transform:rotate(-180deg);
    text-align:center;
}

.first2
{
    padding-left:45em;
    text-align:left;
}

.first4
{
    padding-left:60em;
    text-align:left;
    color:red;
}

.second{
float:right;
top: 65%;
left: 70%;
position:absolute;
z-index:2;
}

.second1{
    line-height:0.2;
}

.second2{
    line-height:0.2;
}

.third{
    padding:20%;
    z-index: 3;
    position: absolute;
    top: 45%;
}

#thirdrepeat{
    margin-left:40%;
    margin-top: 12.5%;
    color: red;
}